<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/681/original/Pittogramma-RGB-1080-BLUE-circle.png"/>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="framework.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Boolzapp - a (not very) innovative messaging platform</title>
</head>
<body>
<div id="root">
    <div class="max-container">
    <!-- container general -->
        <div class="container flex">
            <!-- user info e contacts -->
            <div class="flex col-4">
                <div class="flex-column" >
                    <!-- header sx -->
                    <div class="account flex justify-content-between">
                        <div class="col-9">
                            <img class="avatar" src="img-bolzapp/avatar_io.jpg" alt="Emanuela" >
                            <strong>Emanuela</strong>
                        </div>
                        <div class="col-3 icon-sx">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- sotto header -->
                    <div class="notifiche flex">
                        <i class="fa-regular fa-bell-slash"></i>
                        <div class="link-a">
                            <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                            <a href="#"><strong>Attiva notifiche desktop</strong></a>
                        </div>
                    </div>
                    <div class="search-chat" >
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input  
                        
                        type="text" 
                        v-model="search"
                        
                        placeholder= "Cerca o inizia una nuova chat" >
                    </div>
                    <!-- body user e contact -->
                    <div class="contact" >
                            <div 
                            v-for="(items, index) in filteredList" 
                            @click= "setActive(index)"  
                            class="list"> 
                                <div class="flex"> 
                                    <img 
                                    class="col-1 avatar" 
                                    :src="'img-bolzapp/avatar' + items.avatar + '.jpg'" 
                                    alt="filteredList[activeContact].name">
                                    <div class="col-10 name-message">
                                        <strong>{{items.name}}</strong>
                                        <div v-if="filteredList[index].messages[2]">
                                            <p class="message">{{filteredList[index].messages[2].message}}</p>
                                            
                                        </div>
                                        <div v-else="filteredList[index].messages[1]">
                                            <p class="message">{{filteredList[index].messages[1].message}}</p>
                                           
                                        </div>
                                    </div>

                                   
                <!-- problemi refresh -->
                                    <!-- <div class="col-1 message">
                                        <div v-if="filteredList[index].messages[2]">
                                            <p>{{filteredList[index].messages[2].date}}</p>
                                        </div>
                                        <div v-else="filteredList[index].messages[1]">
                                            <p>{{filteredList[index].messages[1].date}}</p>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <!-- chat lato DX-->
            <div class="flex col-8 bg-image container-dx" >
                <div class="flex-column w-100" v-if="activeContact !== null">
                    <!--header dx-->
                    <div class="header">
                        <img class="col-1 avatar" :src="'img-bolzapp/avatar' + filteredList[activeContact].avatar + '.jpg'" alt="filteredList[activeContact].name">
                        <div class="col-8 align-self-center">
                            <h3>{{filteredList[activeContact].name}} </h3>
                           <!-- <p>Ultimo accesso oggi alle {{hour(activeContact)}}</p> -->
                            <p>Ultimo accesso {{contacts[activeContact].messages[0].date}}</p>
                        </div>
                        <div class="col-3 icon-dx">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!--body dx-->
                    <div class="body-dx flex">
                        <div 
                            class="flex singol-message" 
                            v-for="(items, index) in filteredList[activeContact].messages" 
                            @click="infoMessage(index)"
                            :class="colorMessage(index)">
                            {{filteredList[activeContact].messages[index].message}}
                              
                            <i class="fa-solid fa-angle-down p-10"></i>

                            
                            <div 
                            v-show="info"
                            class="info-delete">
                            <p>Message info <i class="fa-solid fa-angle-down p-10"></i></p>
                            <p
                                @click="deleteMessage()">
                                Delete message
                                <i class="fa-solid fa-angle-down p-10"></i>
                            </p> 
                            </div>
                        </div>     
                    </div>
                    

                    <!--footer dx-->
                    <div class="footer-dx">
                        <div class="input flex">
                            <button class="col-2"><i class="fa-solid fa-face-smile"></i></button>
                            <input 
                            class="col-8" 
                            type="text" 
                            v-model="newMessage" 
                            placeholder= "Scrivi un messaggio" 
                            @keyUp.enter="pushNewMessage(activeContact)">
                            <button class="col-2"><i class="fa-solid fa-microphone"></i></button>
                        </div>
                        
                    </div>
                </div> 

                <div v-else class="notSelected">
                        <h3 class="align-self-center">Seleziona una chat</h3>
                </div>
            </div>  
        </div> 
    </div>         
</div>

              
 
    

    <script src="script.js"></script>
</body>
</html>