* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* utilities */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.p-10 {
  padding-left: 10px;
}

.max-container {
  background-color: #009688;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
}

.account {
  width: 50vh;
  height: 60px;
  background-color: #eaeaea;
}

.notifiche {
  width: 50vh;
  height: 100px;
}

.link-a a {
  color: #535353;
}

.search-chat {
  width: 50vh;
  height: 50px;
  padding-left: 10px;
  border: 1px solid rgb(216, 216, 216);
}

.search-chat input {
  margin: 5px auto;
  width: 85%;
  height: 40px;
  border: none;
  cursor: pointer;
}
.search-chat button {
  height: 40px;
  width: 10%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.contact {
  width: 50vh;
  height: 727px;
  border: 1px solid rgb(216, 216, 216);
}

.list {
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px solid rgb(216, 216, 216);
  cursor: pointer;
}

.name-message {
  padding: 5px;
}

.message {
  color: grey;
}

.container-dx {
  border: 1px solid rgb(216, 216, 216);
}

.bg-image {
  background-image: url(img-bolzapp/mine.jpg);
}

.avatar {
  margin: 5px;
  height: 50px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 50%;
}

.account .icon-sx i {
  padding: 10px;
  color: #b1b1b1;
  cursor: pointer;
}

.account .icon-sx {
  line-height: 60px;
  vertical-align: middle;
}

.notifiche {
  background-color: #8edafc;
  align-items: center;
}

.notifiche i {
  background-color: white;
  font-size: 35px;
  margin: 16px;
  padding: 13px;
  border-radius: 50%;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
}

.header .icon-dx i {
  padding: 10px;
  color: #b1b1b1;
  cursor: pointer;
}

.header .icon-dx {
  line-height: 60px;
  vertical-align: middle;
}

.notSelected {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  font-size: 2rem;
}

.body-dx {
  width: 100%;
  height: 806px;
  /* flex-grow: 1; */
  flex-direction: column;
}

.footer-dx {
  height: 70px;
  width: 100%;
  background-color: #f3eeea;
  display: flex;
}

.footer-dx .input {
  width: 75vh;
  height: 70px;
}

.footer-dx .input input {
  margin: 0px auto;
  width: 85%;
  height: 70px;
  border: none;
  cursor: pointer;
}
.footer-dx .input button {
  height: 70px;
  width: 10%;
  border: none;
  cursor: pointer;
  background-color: #f3eeea;
}

.footer-dx button {
  color: #b1b1b1;
}

.singol-message {
  min-width: 100px;
  padding: 5px 10px;
  margin: 30px;
  border-radius: 10%;
  cursor: pointer;
}

.sent {
  background-color: #d5f9ba;

  align-self: flex-end;
}

.received {
  background-color: white;
  align-self: flex-start;
}

.bg-lightgrey {
  background-color: grey;
}

.align-self {
  align-self: flex-end;
}

.justify-content-end {
  justify-content: flex-end;
}

/*
.info-delete {
  width: 200px;
  line-height: 50px;
  background-color: white;
  padding: 5px 10px;
  margin: 30px;
  border-radius: 10%;
  position: absolute;
  top: 250px;
  right: 90px;
  cursor: pointer;
}
*/
