* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Arial, Tahoma, Serif;
}

.max-container {
  background-color: #009688;
}

.container {
  max-width: 1200px;
  margin: 5px auto;
  height: 98vh;
  background-color: white;
  display: flex;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.account {
  width: 50vh;
  height: 60px;
  background-color: #eaeaea;
}

.notifiche {
  width: 50vh;
  height: 100px;
}

.link-a a {
  color: #535353;
}

.input-top {
  width: 50vh;
  height: 50px;
  background-color: #eaeaea;
}

.input-top input {
  margin: 5px auto;
  width: 85%;
  height: 40px;
  border: none;
}
.input-top button {
  height: 40px;
  width: 10%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.contact {
  width: 50vh;
  height: 705px;
}

.list {
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.name-message {
  padding: 5px;
}

.message {
  color: grey;
}

.bg-image {
  background-image: url(img-bolzapp/mine.jpg);
}

.account img {
  margin: 5px;
  height: 50px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 50%;
}

.account .icon-sx i {
  padding: 10px;
  color: #b1b1b1;
  cursor: pointer;
}

.account .icon-sx {
  line-height: 60px;
  vertical-align: middle;
}

.notifiche {
  background-color: #8edafc;
  align-items: center;
}

.notifiche i {
  background-color: white;
  font-size: 35px;
  margin: 16px;
  padding: 13px;
  border-radius: 50%;
}

.list img {
  margin: 5px;
  height: 50px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 50%;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
}

.header img {
  margin: 5px;
  height: 50px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 50%;
}

.header .icon-dx i {
  padding: 10px;
  color: #b1b1b1;
  cursor: pointer;
}

.header .icon-dx {
  line-height: 60px;
  vertical-align: middle;
}

.notSelected {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  font-size: 2rem;
}

.body-dx {
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: column;
}

.footer-dx {
  height: 70px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
}

.footer-dx .input {
  width: 75vh;
  height: 70px;
}

.footer-dx .input input {
  margin: 0px auto;
  width: 85%;
  height: 70px;
  border: none;
}
.footer-dx .input button {
  height: 70px;
  width: 10%;
  border: none;
  cursor: pointer;
  background-color: #eaeaea;
}

.footer-dx button {
  color: #b1b1b1;
}

.bg-green {
  background-color: #d5f9ba;
  width: 300px;
  padding: 18px;
  border-radius: 15%;
  align-self: flex-end;
}

.bg-white {
  background-color: white;
  width: 300px;
  padding: 18px;
  border-radius: 15%;
}

.bg-lightgrey {
  background-color: #eaeaea;
}
